* {
    font-family: ‘Lucida Sans’, ‘Lucida Sans Regular’, ‘Lucida Grande’, ‘Lucida Sans Unicode’, Geneva, Verdana, sans-serif;
    font-size: 15px;
    line-height: 24px;
}
body {
    width: 100%;
    height: auto;
    margin: 0;
    padding: 0;
    background-color: #EC1D24;
  }
  header {
    background-color: #EC1D24;
    padding: 20px;
    text-align: center;
    width: 100%;
  }
  footer {
    background-color: #000000;
    padding: 20px;
    margin: 50px auto 0px auto;
    width: 100%;
    font-size: 1em;
    color: #FFFFFF;
  }
  hr {
    margin: 2em auto;
    width: 95%;
  }
  #heroimage {
    text-align: center;
    max-width: 100%;
    width: 100%;
    margin: 0px 0px !important;
    padding: 0px 0px !important;
  }
  .heroimage {
    max-width: 100%;
    width: 100%;
    margin: 0px 0px !important;
    padding: 0px 0px !important;
  }
  .characterIcon, .movieIcon {
    padding: 3em;
    width: 20%;
    max-width: 100%;
    display: inline;
  }
  .MovieBannerImage {
    padding: 3em;
    width: 30%;
    display: inline;
  }
  .MovieInfoBox {
    padding: 3em;
    width: 30%;
    display: inline;
  }
  #themesBox, #movieBox {
    align-items: center;
    width: 100%;
    padding: 3em;
  }
  #projects img {
    max-width: 20%;
    padding: 1em;
    display: inline-block;
  }
  .container {
    margin: 30px;
    display: block;
}
.caption {
    font-weight: bold;
    font-size: 15px;
    background-color: #ccc;
    padding: 15px;
    width: 100%;
}
.site-logo {
    width: 30%;
    padding: 0px;
    margin: 0px auto;
}
.center {
    margin: 0 auto;
  }
  .source {
    font-size: 14px;
    font-style: italic;
    color: #4F7942;
}
p {
    font-size: 15px;
    width: 80%;
}
  h1 {
    font-size: 35px;
    font-weight: 200;
    text-transform: uppercase;
    color: #FFFFFF;
  }
  h2 {
    font-size: 25px;
    font-weight: 200;
    line-height: 50px;
  }
  img {
    width: 100%;
    padding: 0px;
    margin: 0px;
    display: block;
}
a {
    color: #4F7942;
    text-decoration: underline;
}
  /* Navigation Styles */
  nav {
    width: 100%;
    padding: 10px;
    display: block;
  }
  nav ul {
    display: block;
    padding: 0px 0px;
    margin: 0px 0px;
}
nav ul li {
    display: inline-block;
    background-color: #738678;
    padding: 10px;
    margin: 10px;
    color: #FFFFFF;
    text-transform: uppercase;
  }
  nav li a {
    display: inline;
    color: #FFFFFF;
    text-decoration: none;
  }
  nav li a:hover {
    color: #000000;
  }
  /* Form Styles */
form {
    width: 100%;
  }
  label {
    line-height: 20px;
}
  input {
    width: 250px;
  }
input[type=button], input[type=submit], input[type=reset] {
    background-color: #04AA6D;
    border: none;
    color: white;
    padding: 16px 32px;
    text-decoration: none;
    margin: 4px 2px;
    cursor: pointer;
  }
  #profilephoto img {
    max-width: 25%;
    float: right;
    padding: 1em 5em;
  }
  /* The Modal (background) */
.modal {
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  padding-top: 100px; /* Location of the box */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgb(0,0,0); /* Fallback color */
  background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}
/* Modal Content */
.modal-content {
  background-color: #FEFEFE;
  margin: auto;
  padding: 20px;
  border: 1px solid #888;
  width: 80%;
}
/* The Close Button */
.close {
  color: #AAAAAA;
  float: right;
  font-size: 28px;
  font-weight: bold;
}
.close:hover,
.close:focus {
  color: #000;
  text-decoration: none;
  cursor: pointer;
}
  /* Viewports between 320px and 480px wide */
@media only screen and (min-device-width: 320px) and (max-device-width: 480px) {
  * {
    font-family: ‘Lucida Sans’, ‘Lucida Sans Regular’, ‘Lucida Grande’, ‘Lucida Sans Unicode’, Geneva, Verdana, sans-serif;
    font-size: 15px;
    line-height: 24px;
}
  main {
    margin-top: 3em;
  }
  p {
    font-size: 15px;
  }
 #heroimage {
    display: none;
  }
}














